In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import os
print(os.listdir())

['.Rhistory', 'Lab1.Rmd', '.config', 'Music', 'Commit4.ipynb', '.condarc', '.DS_Store', 'cleaned_health_outcome_data.csv', '.CFUserTextEncoding', 'Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System_20250213.csv', '.xonshrc', 'fd2dbace-3737-c713-a4b7-42dcddc25e7f.png', 'anaconda_projects', 'Untitled.ipynb', '.zshrc', 'Commit5.ipynb', '.local', 'Pictures', 'cleaned_merged_data.csv', '.zprofile', 'Commit3.ipynb', 'Paper1.Rmd', '.zsh_history', '.ipython', 'Desktop', 'Library', '.matplotlib', 'Commit 2 Updated.ipynb', 'Public', '.idlerc', '.tcshrc', '.RData', '.anaconda', 'cleaned_food_access_data.csv', 'Movies', '.Rapp.history', '.Trash', '.ipynb_checkpoints', 'FoodAccessResearchAtlasData2019.csv', '.jupyter', 'Documents', 'cleaned_health_outcome_data1.csv', '.bash_profile', 'Downloads', '.python_history', '.continuum', 'cleaned_food_access_data1.csv', '.zsh_sessions', 'Assignment1.ipynb', '.conda', 'Midterm Exam.ipynb']

In [9]:
# Load the datasets
food_access_data = pd.read_csv("FoodAccessResearchAtlasData2019.csv")
food_access_data.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [13]:
health_outcome_data = pd.read_csv("Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System_20250213.csv")
health_outcome_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
1,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Other,RACE,RACEOTH
2,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q044,VALUE,2,Sex,Female,SEX,FEMALE
3,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
4,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525

In [17]:
print (health_outcome_data.head())

   YearStart  YearEnd LocationAbbr LocationDesc Datasource  \
0       2011     2011           AK       Alaska      BRFSS
1       2011     2011           AK       Alaska      BRFSS
2       2011     2011           AK       Alaska      BRFSS
3       2011     2011           AK       Alaska      BRFSS
4       2011     2011           AK       Alaska      BRFSS

                     Class                         Topic  \
0  Obesity / Weight Status       Obesity / Weight Status
1  Obesity / Weight Status       Obesity / Weight Status
2        Physical Activity  Physical Activity - Behavior
3  Obesity / Weight Status       Obesity / Weight Status
4  Obesity / Weight Status       Obesity / Weight Status

                                            Question  Data_Value_Unit  \
0  Percent of adults aged 18 years and older who ...           2011.0
1  Percent of adults aged 18 years and older who ...           2011.0
2  Percent of adults who achieve at least 150 min...           2011.0
3  Percent of adults aged 18 years and older who ...           2011.0
4  Percent of adults aged 18 years and older who ...           2011.0

  Data_Value_Type  ...                        GeoLocation  ClassID TopicID  \
0           Value  ...  (64.845079957001, -147.722059036)      OWS    OWS1
1           Value  ...  (64.845079957001, -147.722059036)      OWS    OWS1
2           Value  ...  (64.845079957001, -147.722059036)       PA     PA1
3           Value  ...  (64.845079957001, -147.722059036)      OWS    OWS1
4           Value  ...  (64.845079957001, -147.722059036)      OWS    OWS1

  QuestionID  DataValueTypeID  LocationID  StratificationCategory1  \
0       Q036            VALUE           2           Race/Ethnicity
1       Q036            VALUE           2           Race/Ethnicity
2       Q044            VALUE           2                      Sex
3       Q036            VALUE           2              Age (years)
4       Q037            VALUE           2                   Income

     Stratification1 StratificationCategoryId1 StratificationID1
0    2 or more races                      RACE         RACE2PLUS
1              Other                      RACE           RACEOTH
2             Female                       SEX            FEMALE
3            35 - 44                     AGEYR         AGEYR3544
4  $15,000 - $24,999                       INC           INC1525

[5 rows x 33 columns]

In [21]:
plt.figure(figsize=(12,6))
sns.scatterplot(data=data, x="Median_Income", y="COPD_Prevalence", hue="State", s=100)
plt.title("Relationship Between Median Income and COPD Prevalence by State", fontsize=16)
plt.xlabel("Median Income (USD)", fontsize=12)
plt.ylabel("COPD Prevalence (%)", fontsize=12)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', title="State")
plt.tight_layout()
plt.show()

NameError: name 'data' is not defined

In [23]:
plt.figure(figsize=(12,6))
sns.barplot(x="State", y="Asthma_Prevalence", data=data, palette="viridis")
plt.title("Prevalence of Asthma by State", fontsize=16)
plt.xlabel("State", fontsize=12)
plt.ylabel("Asthma Prevalence (%)", fontsize=12)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'data' is not defined