In [1]:
import os
print(os.listdir())

['.Rhistory', 'Lab1.Rmd', '.config', 'Music', 'Commit6.ipynb', 'Commit4.ipynb', '.condarc', '.DS_Store', 'cleaned_health_outcome_data.csv', '.CFUserTextEncoding', 'Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System_20250213.csv', '.xonshrc', 'fd2dbace-3737-c713-a4b7-42dcddc25e7f.png', 'anaconda_projects', '.zshrc', 'Commit5.ipynb', '.local', 'Pictures', 'cleaned_merged_data.csv', '.zprofile', 'Commit3.ipynb', 'Paper1.Rmd', '.zsh_history', '.ipython', 'Desktop', 'Library', '.matplotlib', 'Commit 2 Updated.ipynb', 'Public', '.idlerc', '.tcshrc', '.RData', '.anaconda', 'cleaned_food_access_data.csv', 'Movies', 'Assignment2.ipynb', '.Rapp.history', '.Trash', '.ipynb_checkpoints', 'FoodAccessResearchAtlasData2019.csv', '.jupyter', 'Documents', 'cleaned_health_outcome_data1.csv', '.bash_profile', 'Downloads', '.python_history', '.continuum', 'cleaned_food_access_data1.csv', '.zsh_sessions', 'Assignment1.ipynb', '.conda', 'Midterm Exam.ipynb']

In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# 1. Create a connection to a new SQLite database (or open if it exists)
conn = sqlite3.connect('os.listdir()')
cursor = conn.cursor()

In [37]:
# 2. Create a new table named 'health_data' if it doesn't already exist
cursor.execute('''
    CREATE TABLE IF NOT EXISTS health_data (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        state TEXT,
        County TEXT,
        NUMGQTRS REAL,
        TractSeniors REAL,
        Tract0Multir REAL
    )
''')
conn.commit()

In [13]:
data = pd.read_csv("FoodAccessResearchAtlasData2019.csv")
print("Data Preview:")
print(data.head())

Data Preview:
   CensusTract    State          County  Urban  Pop2010  OHU2010  \
0   1001020100  Alabama  Autauga County      1     1912      693
1   1001020200  Alabama  Autauga County      1     2170      743
2   1001020300  Alabama  Autauga County      1     3373     1256
3   1001020400  Alabama  Autauga County      1     4386     1722
4   1001020500  Alabama  Autauga County      1    10766     4082

   GroupQuartersFlag  NUMGQTRS  PCTGQTRS  LILATracts_1And10  ...  \
0                  0       0.0      0.00                  0  ...
1                  0     181.0      8.34                  1  ...
2                  0       0.0      0.00                  0  ...
3                  0       0.0      0.00                  0  ...
4                  0     181.0      1.68                  0  ...

   TractSeniors  TractWhite  TractBlack  TractAsian  TractNHOPI  TractAIAN  \
0         221.0      1622.0       217.0        14.0         0.0       14.0
1         214.0       888.0      1217.0         5.0         0.0        5.0
2         439.0      2576.0       647.0        17.0         5.0       11.0
3         904.0      4086.0       193.0        18.0         4.0       11.0
4        1126.0      8666.0      1437.0       296.0         9.0       48.0

   TractOMultir  TractHispanic  TractHUNV  TractSNAP
0          45.0           44.0        6.0      102.0
1          55.0           75.0       89.0      156.0
2         117.0           87.0       99.0      172.0
3          74.0           85.0       21.0       98.0
4         310.0          355.0      230.0      339.0

[5 rows x 147 columns]

In [31]:
for index, row in data.iterrows():
    cursor.execute('''
        INSERT INTO os.listdir() (state, County, Urban, NUMGQTRS, TractSeniors)
        VALUES (?, ?, ?, ?, ?)
    ''', (row['State'], row['County'], row['Urban'], row['NUMGQTRS'], row['TractSeniors']))
conn.commit()

OperationalError: near ")": syntax error

In [33]:
    SELECT state, NUMGQTRS, TractSeniors
    FROM os.listdir()
'''
df_query = pd.read_sql_query(query, conn)
print("\nQuery Result Preview:")
print(df_query.head())

SyntaxError: unterminated triple-quoted string literal (detected at line 6) (3125779529.py, line 3)

In [35]:
plt.figure(figsize=(10, 6))
plt.scatter(df_query['State'], df_query['NUMGQTRS'], s=100, alpha=0.7)
plt.title("Relationship Between State and Age", fontsize=16)
plt.xlabel("State", fontsize=12)
plt.ylabel("TractSeniors", fontsize=12)
plt.grid(True)
plt.tight_layout()
plt.show()

NameError: name 'df_query' is not defined