In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
print(5*"Hello. \n knlh \n\n")

Hello.
 knlh

Hello.
 knlh

Hello.
 knlh

Hello.
 knlh

Hello.
 knlh

In [ ]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
count = 0 # counting variable

while count < 5:
    print("Hello")
    count = count + 1

Hello
Hello
Hello
Hello
Hello

In [ ]:
for row in range(10):
    for column in range(5):
        print("#", end="")
    print("") # add new line character

#####
#####
#####
#####
#####
#####
#####
#####
#####
#####

In [ ]:
for i in range(10):
    print("5" + str(i))

In [ ]:
#all grades in a a list

grades = [45,34,78,455,656]

#+5 all student grades
for student in grades:
    print(student + 5)

50
39
83
460
661

In [ ]:
Name = ["Amy", "Andre", "Jessica"]

for person in Name:
  print(")

Goodnight Dr. Amy Welcome to Howard
Goodnight Dr. Andre Welcome to Howard
Goodnight Dr. Jessica Welcome to Howard

In [ ]:
for row in range(10):
    for column in range(10):
        print("#", end="")
    print("") # add new line character

In [ ]:

black_movie_stars = ["Denzel Washington", "Halle Berry", "Morgan Freeman", "Samuel L. Jackson", "Viola Davis"]

for star in black_movie_stars:
    print(star +" star star")

Denzel Washington star star
Halle Berry star star
Morgan Freeman star star
Samuel L. Jackson star star
Viola Davis star star

In [ ]:
longest_name = black_movie_stars[0]

for star in black_movie_stars: #for loop

    if len(star) > len(longest_name): # cond statement
        longest_name = star

print(longest_name)

Denzel Washington